name: Build the app for releasing to Google Play

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version name
        run: echo "version.name=${GITHUB_REF:10}" >> local.properties

      - name: Decrypt AAB keystore
        run: ./.github/scripts/decrypt_keystore.sh $KEYSTORE_GPG_PASSPHRASE release/loudping-signing.jks release/loudping-upload.jks.gpg
        env:
          KEYSTORE_GPG_PASSPHRASE: ${{ secrets.KEYSTORE_GPG_PASSPHRASE }}

      - name: Setup AAB signing configuration
        run: 'echo "$KEYSTORE_PROPERTIES" > release/keystore.properties'
        env:
          KEYSTORE_PROPERTIES: ${{ secrets.KEYSTORE_PROPERTIES }}

      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          cache-disabled: true

      - name: Check Dependency Guard
        run: ./gradlew dependencyGuard

      - name: Generate app secrets
        run: ./gradlew :generate-app-secrets:run
        env:
            RAW_SNEAK_SALT: ${{ secrets.RAW_SNEAK_SALT }}
            RAW_CLIENTID: ${{ secrets.RAW_CLIENTID }}
            RAW_CLIENTSECRET: ${{ secrets.RAW_CLIENTSECRET }}
            RAW_REDIRECTURL: ${{ secrets.RAW_REDIRECTURL }}
            RAW_BASEAPIURL: ${{ secrets.RAW_BASEAPIURL }}
            RAW_BASEAUTHAPIURL: ${{ secrets.RAW_BASEAUTHAPIURL }}
            RAW_AUTHORIZEURL: ${{ secrets.RAW_AUTHORIZEURL }}

      - name: Make the app bundle
        run: ./gradlew :app:bundleRelease --stacktrace
        env:
          BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}

      - name: Decrypt APK keystore
        run: ./.github/scripts/decrypt_keystore.sh $APK_KEYSTORE_GPG_PASSPHRASE release/loudping-signing.jks release/loudping-googleplay.jks.gpg
        env:
          APK_KEYSTORE_GPG_PASSPHRASE: ${{ secrets.APK_KEYSTORE_GPG_PASSPHRASE }}

      - name: Setup APK signing configuration
        run: 'echo "$APK_KEYSTORE_PROPERTIES" > release/keystore.properties'
        env:
          APK_KEYSTORE_PROPERTIES: ${{ secrets.APK_KEYSTORE_PROPERTIES }}

      - name: Make the APK
        run: ./gradlew :app:assembleRelease bugsnagUploadReleaseProguardMapping bugsnagCreateReleaseBuild --stacktrace
        env:
          BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}

      - name: Upload build outputs
        uses: actions/upload-artifact@v4
        with:
          name: build-outputs
          path: 'app/build/outputs'
